<div class="index-page">
  <section id="home-top">
    <div class="page-header" filter-color="orange">
      <div class="page-header-image clear-filter"
          style="background-image: url(/images/architecture-construction-daylight-534228.jpg)"></div>
          <div class="container">
            <div class="wrapper-intro">
              <div class="inner">
              <h2>{{home.site_intro_name}}</h2>
              <p>{{home.site_intro_text}}</p>
            </div>
            </div>
          </div>
    </div>
  </section>
  <section class="ser-md">
    <div class="container">
      <div class="row b-row">
        <div class="col-12 col-md-6">
          <h3>{{home.site_ser_title}}</h3>
          <p>{{home.site_ser_text}}</p>
          <a href="/services" class="btn btn-primary btn-lg">Learn more</a>
        </div>
        <div class="col-12 col-md-6">
          <h3>{{home.site_look_title}}</h3>
          <p>{{home.site_look}}</p>
          <a href="/contact-us" class="btn btn-primary btn-lg">Contact Us</a>
        </div>
      </div>
    </div>
  </section>
  <section class="pro bg-primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md col-12 d-flex align-items-center justify-content-center">
          <div>
            <h3>Gallery</h3>
            <a href="/gallery" class="btn btn-dark btn-lg">VIEW ALL</a>
          </div>
        </div>
        {{#each home.site_pics}}
        <div class="col-md col-12 pr-0 pl-0">
          <img src="{{this}}" alt="">
        </div>
        {{/each}}
      </div>
    </div>
  </section>
  <section class="core bg-default">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-5 text-center">
          <h2>Core Values</h2>
          <p>These are our Core Values at Landmark, We think of them as our Pillars of Business</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-6 col-lg-4 col-12">
              <div class="row">
                <div class="col-3">
                  <i class="fa fa-signal"></i>
                </div>
                <div class="col-9">
                  <h4>AFFORDABILITY</h4>
                  <p>By providing various Flexible plans on all our properties, we are finishing to taste to meet both Medium and High Income earners as we intend to bridge the gap in Housing Deficit across Nigeria.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="row">
                <div class="col-3">
                  <i class="fa fa-windows"></i>
                </div>
                <div class="col-9">
                  <h4>RESPOSIBILITY</h4>
                  <p>We at Landmark task ourselves with greater focus on the triple bottom line (financial, social and environmental) and an expectation that business must always operate within the interests of a wider society.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
              <div class="row">
                <div class="col-3">
                  <i class="fa fa-info"></i>
                </div>
                <div class="col-9">
                  <h4>INTEGRITY</h4>
                  <p>Our Reputation precedes us as we seek to build trusting relationships by keeping our promises and in most times exceeding our Client’s expectations by raising the bar and thereby transforming the way business is done.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
              <div class="row">
                <div class="col-3">
                  <i class="fa fa-user"></i>
                </div>
                <div class="col-9">
                  <h4>CUSTOMER FOCUS</h4>
                  <P>Packaged into a series of activities that starts from initial contact through to after-sales care all designed to deliver Customer Satisfaction.</P>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
              <div class="row">
                <div class="col-3">
                  <i class="fa fa-mars"></i>
                </div>
                <div class="col-9">
                  <h4>MISSION</h4>
                  <P>We are on a mission to enhance the associations we partner with; while operating in an ethical and socially conscious manner</P>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
              <div class="row">
                <div class="col-3">
                  <i class="fa fa-users"></i>
                </div>
                <div class="col-9">
                  <h4>TEAM WORK</h4>
                  <P>With a Team of dedicated staff all trying their best in every circumstance to collaborate using their Individual Skills to achieve the Company’s Goals.</P>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>